html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background: url(../public/hd-wallpaper-4051288.jpg) no-repeat center center/cover;
    backdrop-filter: saturate(200%) brightness(0.5);
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    .inner {
        display: flex;
        width: 160rem;
        padding: 10.7rem 0;
        height: 80%;
        color: #fff;
        .images {
            position: relative;
            display: flex;
            align-items: center;
            flex: 2;

            .mock {
                position: relative;

                .screen {
                    position: absolute;
                    top: 3.6rem;
                    left: 11.1rem;
                    width: 79.2%;
                    height: 84.4%;
                    border-radius: 3px;
                    overflow: hidden;
                }
            }

            .cell {
                position: absolute;
                bottom: 0;
                width: 20%;
            }

            .photo {
                img {
                    width: 50rem;
                }
            }
        }

        .des {
            display: flex;
            flex: 1;
            text-align: end;
            flex-direction: column;

            li {
                font-family: "LeferiPoint-WhiteObliqueA";
                padding-right: 15rem;
                display: flex;
                flex-direction: column;
                h2 {
                    position: relative;
                    font-family: "LeferiPoint-WhiteObliqueA";
                    font-size: 4.4rem;
                    font-weight: 900;
                    margin-bottom: 3rem;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -1rem;
                        right: 0;
                        width: 90%;
                        height: 1px;
                        background: #ddd;
                    }
                }
                span {
                    font-weight: 900;
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
                strong {
                    font-weight: 100;
                    font-size: 1.9rem;
                    margin-bottom: 2.5rem;
                }

                .skill {
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 2.5rem;
                    }
                }
            }

            .color {
                align-items: flex-end;
                span {
                    margin-right: 1rem;
                }

                ol {
                    display: flex;
                    li {
                        font-size: 0;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .link {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
                font-family: "Noto Sans KR";
                button {
                    margin-top: 1rem;
                    padding: 8px 25px 10px 25px;
                    font-size: 15px;
                    font-weight: 300;
                    color: #fff;
                    background: none;
                    border: 1px solid #fff;
                    border-radius: 1rem;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover {
                        background: rgba(219, 219, 219, 0.218);
                    }
                }
            }
        }
    }
}

.PF {
    .num {
        position: fixed;
        top: 30%;
        right: 5rem;
        z-index: 999;
    }

    .btn {
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 1000;
        font-size: 0;
        width: 3rem;
        height: 3rem;

        &::before {
            content: "";
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #333;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #333;
        }

        &.on::before {
            display: none;
        }

        &.on::after {
            display: none;
        }

        span::before,
        span::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #333;
        }

        &.on span::before {
            transform: rotate(45deg);
        }

        &.on span::after {
            transform: rotate(-45deg);
        }
    }

    .Cover {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #333;
        color: #fff;
        z-index: 1000;
        height: 0;
        overflow: hidden;
        transition: 0.5s;

        &.on {
            height: 100vh;
        }
    }

    .gnb {
        position: fixed;
        top: 50%;
        right: 5rem;
        z-index: 999;
        font-size: 0;

        li {
            margin: 0.5rem;

            a {
                position: relative;
                display: inline-block;
                width: 2rem;
                height: 2rem;
                border: 1px solid rgba(51, 51, 51, 0.3);
                transform: scale(0.5);
                border-radius: 50%;

                &::before {
                    content: "";
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30%;
                    height: 30%;
                    background: #333;
                    border-radius: 50%;
                }
            }

            &.on a {
                transform: scale(1);

                &::before {
                    display: block;
                }
            }
        }
    }
}

.section {
    font-size: 3rem;
    color: #fff;
    &.main {
        .case {
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 6rem;
                font-weight: 100;
                margin-bottom: 1rem;
                display: inline-block;
            }
        }
    }

    .cell {
        display: none;
    }
}

.section:nth-child(2) {
    .screen {
        background: url("../public/megabox.png") no-repeat top center/cover;
        transition: 2s linear;
        &:hover {
            background: url("../public/megabox.png") no-repeat bottom center/cover;
        }
    }

    .type {
        strong {
            display: flex;
            padding: 14px 20px 8px 20px;
            margin-left: auto;
            background: #6ecff1;
            border-radius: 10px;
            color: #000;
        }
    }
}
.section:nth-child(3) {
    .screen {
        background: url("../public/2k.png") no-repeat top center/cover;
        transition: 3s linear;

        &:hover {
            background: url("../public/2k.png") no-repeat bottom center/cover;
        }
    }
    .type {
        strong {
            display: flex;
            padding: 14px 20px 8px 20px;
            margin-left: auto;
            background: #94ea7c;
            border-radius: 10px;
            color: #000;
        }
    }
    .cell {
        display: block;
    }
}
.section:nth-child(4) {
    .screen {
        background: url("../public/imdb.png") no-repeat top center/cover;
        transition: 5s linear;

        &:hover {
            background: url("../public/imdb.png") no-repeat bottom center/cover;
        }
    }

    .type {
        strong {
            display: flex;
            padding: 14px 20px 8px 20px;
            margin-left: auto;
            background: #d0795e;
            border-radius: 10px;
            color: #fff;
        }
    }
}
.section:nth-child(5) {
    .screen {
        background: url("../public/ops.png") no-repeat top center/cover;
        transition: 3s linear;

        &:hover {
            background: url("../public/ops.png") no-repeat bottom center/cover;
        }
    }

    .type {
        strong {
            display: flex;
            padding: 14px 20px 8px 20px;
            margin-left: auto;
            background: #94ea7c;
            border-radius: 10px;
            color: #000;
        }
    }
    .cell {
        display: block;
    }
}
.section:nth-child(6) {
    .screen {
        background: url("../public/bespoke.png") no-repeat top center/cover;
        transition: 3s linear;
        &:hover {
            background: url("../public/bespoke.png") no-repeat bottom center/cover;
        }
    }
    .type {
        strong {
            display: flex;
            padding: 14px 20px 8px 20px;
            margin-left: auto;
            background: #d0795e;
            border-radius: 10px;
            color: #fff;
        }
    }
}
// .section:nth-child(7) {
//     .screen {
//         background: url("../public/lloyd.png") no-repeat top center/cover;
//         transition: 3s linear;
//         &:hover {
//             background: url("../public/lloyd.png") no-repeat bottom center/cover;
//         }
//     }
// }
